    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
          <i class="fa fa-sitemap"></i>
        <div class="sidebar-brand-text mx-3">Kepengurusan</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {% if act == 'Dashboard' %}active{% endif %}">
        <a class="nav-link" href="{% url 'index' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Kelola Kepengurusan
      </div>

      <li class="nav-item {% if act == 'SPJ' %}active{% endif %}">
        <a class="nav-link" href="{% url 'PageSPJ' %}">
          <i class="fas fa-tasks"></i>
          <span>SPJ</span></a>
      </li>
      <li class="nav-item {% if act == 'Agenda' %}active{% endif %}">
        <a class="nav-link" href="{% url 'PageAgenda' %}">
          <i class="fas fa-calendar"></i>
          <span>Agenda</span></a>
      </li>
      <li class="nav-item {% if act == 'Kepengurusan' %}active{% endif %}">
        <a class="nav-link" href="{% url 'PagePengurus' %}">
          <i class="fas fa-users"></i>
          <span>Kepengurusan</span></a>
      </li>
      <li class="nav-item {% if act == 'Surat' %}active{% endif %}">
        <a class="nav-link" href="{% url 'PageSurat' %}">
          <i class="fas fa-envelope"></i>
          <span>Surat</span></a>
      </li>

      <style>
        #button-interaction {
          width: max-content;
          height: max-content;
        }
      </style>
  
    </ul>