{%  extends 'admin/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Surat</h1>
		<button type="button" data-toggle="modal" data-target="#SuratModal"
			class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus"></i> Add
			Surat</button>
	</div>
</div>
<style>
	#tableSurat_filter{
		float: right;
	}
	#tableSurat_paginate{
		float: right;
	}
</style>
<div class="container-fluid">
	<div class="table-responsive mb-4 p-2">
		<table id="tableSurat" class="table table-bordered table-striped w-100" style="color: black;">
			<thead>
				<tr>
					<th scope="col">Nama Surat</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Status</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Dibuat Tanggal</th>
					<th scope="col">Diubah Tanggal</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for i in dSurat %}
				<tr>
                    <td>{{i.nama}}</td>
					<td><img src="{{ i.foto.url }}" class="img-responsive" width="150" height="100" /> </td>
					<td>{{i.status}}</td>
					<td>{{i.deskripsi}}</td>
					<td>{{i.created_at|date:'d F Y, H:i e'}}</td>
					<td>{{i.updated_at|date:'d F Y, H:i e'}}</td>
					<td>
                       <form action="{% url 'delSurat' i.id %}" method="post">
                        {%csrf_token%}
                        <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('Yakin ingin menghapus {{i.nama}} dari Surat?')">Hapus</button>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#SuratUpdateModal" data-id="{{i.id}}">Edit</button>
                    </form>
                    </td>
                </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        <hr>
                    </div>
                    

                    <div class="modal fade" id="SuratModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Tambah Surat</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }} 
                                    
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" onclick="return confirm('Apakah data sudah benar?')"
                                    class="btn btn-primary">Tambah</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
<!-- update -->
                    <div class="modal fade" id="SuratUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit SPJ</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="formeditSurat" class="modal-body" data-Surat-url="{% url 'loadSurat' %}">
            
                            </div>
                        </div>
                    </div>
                </div>


</div>
<script type="text/javascript">
	$('#SuratUpdateModal').on('show.bs.modal', function (event) {
		console.log("modalopened")
		var button = $(event.relatedTarget);

		var url = $("#formeditSurat").attr("data-Surat-url"); // get the url of the `load_cities` view
		var Suratid = button.data('id'); // get the selected country ID from the HTML input

		$.ajax({ // initialize an AJAX request
			url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
				'Surat': Suratid // add the country id to the GET parameters
			},
			success: function (data) { // `data` is the return of the `load_cities` view function
				$("#formeditSurat").html(
					data
				); // replace the contents of the city input with the data that came from the server
			}
		});
	});
</script>
<script>
	$(document).ready(function() {

	var table = $('#tableSurat').DataTable( {
	// 	"columnDefs": [
		//   { "orderable": false, "searchable": false, "targets": 2 }
		// ],
		buttons:[	
					{
					extend: 'excelHtml5',
						exportOptions: {
							columns: ':visible'
						}
					},

					{
						extend: 'print',
						exportOptions: {
							columns: ':visible'
						}
					},
					'colvis',
				],
		"aLengthMenu": [[5,10,25,-1],[5,10,25, "All"]],
		"iDisplayLength": 10
	} );

	table.buttons().container()
		.appendTo( '#tableSurat_wrapper .col-md-6:eq(0)' );
	} );
	/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
	//We start indexing at one because CSRF_token is considered and input field
	 */

	//Query All input fields
	var select_fields = document.getElementsByTagName('select')

	var input_fields = document.getElementsByTagName('input')


	for (var field in select_fields) {
		select_fields[field].className += ' form-control'
	}
	for (var field in input_fields) {
		input_fields[field].className += ' form-control'
	}
</script>



{% endblock %}