{%  extends 'homeuser/main.html' %}
{% block content %}

<div class="container">
	<h1 class="mt-4 pl-2 ml-4" style="font-weight: 700;">
		<center>
			AGENDA
		</center>
	</h1>
</div>
<hr style="margin-top: 40px">
<p class="mt-4 pl-2 ml-4" style="font-weight: 700; font-size: 26px; border-left:solid 5px;">List Agenda</p>
<hr>
<div id="places" class="row" style="margin-top: 50px;">
	{% for i in dAgenda %}
	<div class="col-md-4">
		<div class="card mb-4" style="">
		  <img src="{{i.foto.url}}" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
		  <div class="card-body">
		    <h5 class="card-title" style="font-size: 16px;">{{i.nama}}</h5>
		    <p class="card-text" style="font-size: 14px !important;">{{i.content}}</p>
		    <div class="row">
		    	<div class="col-md-7">
		    		<p class="card-text"><small class="text-muted">{{i.created_at}}</small></p>
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
	{% endfor %}
</div>
<hr>
</div>

{% endblock %}