<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

    <style>
        body {
              padding-top: 56px;
            }
            
    </style>

    <title>Home - User</title>
    
    <style>
      .nav-link{
        font-weight: 600;
        font-size: 20px;
      }
      .nav-item.active{
        border-bottom: solid #E06905;
        color: white !important;
      }
      .backgroundHome{
        background: #130f40;
        height: 650px;
      }
      .thumbnail{
        height: max-content;
        position: relative;
      }
      #title{
        font-size: 30px;
        font-weight: 700;
      }
      /*#isidetail{
        text-align: justify;
        font-size: 20px;
        font-weight: 400;
        column-count: 2;
        column-gap: 40px;
        column-width: 100%;
      }*/
      #isidetail{
        width: 80%;
        text-align: justify;
        font-size: 22px;
        font-weight: 200;
        color: black;
      }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">INI LOGO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index'%}" target="_blank">Dashboard</a>
          </li>
          {% if request.user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}">Logout</a>
          </li>
          
          {% else %}
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
      {% block nav %}
      {% endblock %}
    <div class="container pb-4">
      {% block content %}
      
      {% endblock %}
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>