<form id="form-formeditSPJ" action="{% url 'upPengurus' formup.instance.pk %}" method="post">

    {% csrf_token %}
    {{formup.pk.as_hidden}}
	<div class="form-group">
		<label for="exampleInputEmail1">Nama</label>
		{{formup.nama}}
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">NIM</label>
		{{formup.nim}}
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Kelas</label>
		{{formup.kelas}}
    </div>
 
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="submit" id="btnSave" onclick="return confirm('Apakah data sudah benar?')"
			class="btn btn-primary">Simpan Perubahan</button>
	</div>
</form>

<script>
	$(document).ready(function () {
		$('select').select2({
			width: '100%'
		});
	});
</script>

<script>
	var select_fields = document.getElementsByTagName('select')

	var input_fields = document.getElementsByTagName('input')


	for (var field in select_fields) {
		select_fields[field].className += ' form-control'
	}
	for (var field in input_fields) {
		input_fields[field].className += ' form-control'
	}
</script>